.Header
  = link_to "#", class: "Header__top" do
    Browseing+
  = link_to "#", class: "Header__search" do
    検索
  = link_to "#", class: "Header__trend" do
    トレンド
  = link_to "#", class: "Header__option" do
    設定