.Wrapper
  = render partial: "modules/header"
  .Wrapper__main
    - @setoptions[:trendsetting].each do |area|
      = render partial: "modules/rank", locals: {region: Trend::AREA_DATA.find{|x| x[:id].to_s.include?(area)}[:name]}