.Header
  = link_to tweets_path, class: "Header__top" do
    Browseing+
  = link_to tweets_path, class: "Header__search" do
    検索
  = link_to trends_path, class: "Header__trend" do
    トレンド
  = link_to options_path, class: "Header__option" do
    設定