.Rank
  .Rank__title
    - @trendtree.each do |trend|
      - if trend[:region] == region
        = region
  .Rank__field
    - @trendtree.each do |trend|
      - if trend[:region] == region
        - trend[:trends].each do |trendname|
          .Rank__field__item
            = link_to search_tweets_path(keyword: trendname),class: "Rank__field--link" do
              = trendname