.Option {
  height: 100%;
  width: 100%;
  background-color: var(--back-color);
  &__field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    position: relative;
    right: 155px;
    color: #eeeeee;
    padding-top: 10px;
  }
  &__list{
    border: 1px solid #404040;
    border-radius: 5px;
    background-color: #303030;
    margin: 10px auto;
    // height: 150px;
    width: 400px;
  }
  &__table {
    width: 100%;
  }
  &__item {
    line-height: 50px;
    &--name{
      color: #eeeeee;
      width: 200px;
      padding-left: 10px;
    }
    &--value{
      text-align: right;
      padding-right: 15px;
    }
    &--select{
      height: 30px;
    }
    &--select2{
      line-height: 30px;
    }
  }
  &__btm{
    position: relative;
    right: 170px;
    margin-top: 10px;
    padding: 3px 10px;
  }
}
.select2-selection__rendered {
  line-height: 30px;
  font-size: 12px;
}

.select2-results__options {
  font-size: 12px;
}