@import "header";
@import "search";
@import "history";
@import "rank";
@import "option";

.Wrapper {
  height: 100vh;
  width: 100vw;
  &__main {
    display: flex;
  }
  &__Search {
    background-color: #303050;
    display: block;
  }
}